<p>it's sure,  Pureworks</p>
<form #frm="ngForm" (ngSubmit)="updateInfo(frm)" >
  <div class="">
    <input type="text" name="location" value="" ngModel>
    <button type="submit" name="button">add info</button>
  </div>
</form>
<div class="container">
  <button type="button" name="button" (click)="getInfoFromSErviceClass1()">Employee</button>
  <ul>
  <li *ngFor = "let info of infoReceived1" class="list-group-item">{{info}}</li>
  </ul>
  <button type="button" name="button" (click)="getInfoFromSErviceClass2()">Employee</button>
  <ul>
  <li *ngFor = "let info of infoReceived2" class="list-group-item">{{info}}</li>
  </ul>
  <button type="button" name="button" (click)="getInfoFromSErviceClass3()">Employee</button>
  <ul>
  <li *ngFor = "let info of infoReceived3" class="list-group-item">{{info}}</li>
  </ul>
</div>
