<p>it's sure,  Pureworks</p>
<div class="container">
  <button type="button" name="button" (click)="getInfoFromSErviceClass1()">Employee</button>
  <ul>
  <li *ngFor = "let info of infoReceived1" class="list-group-item">{{info}}</li>
  </ul>
  <button type="button" name="button" (click)="getInfoFromSErviceClass2()">Employee</button>
  <ul>
  <li *ngFor = "let info of infoReceived2" class="list-group-item">{{info}}</li>
  </ul>
  <button type="button" name="button" (click)="getInfoFromSErviceClass3()">Employee</button>
  <ul>
  <li *ngFor = "let info of infoReceived3" class="list-group-item">{{info}}</li>
  </ul>
</div>
