<p>it's sure,  Pureworks</p>
<button type="button" name="button" onclick="getInfoFromSErviceClass1()">Employee</button>
<ul>
<li *ngFor = "let info of infoReceived1" class="list-group-item">{{info}}</li>
</ul>
<button type="button" name="button" onclick="getInfoFromSErviceClass2()">Employee</button>
<ul>
<li *ngFor = "let info of infoReceived2" class="list-group-item">{{info}}</li>
</ul>
<button type="button" name="button" onclick="getInfoFromSErviceClass3()">Employee</button>
<ul>
<li *ngFor = "let info of infoReceived3" class="list-group-item">{{info}}</li>  
</ul>
